body {
  font-family: bangers, sans-serif;
  background-color: #673AB7;
  color: white;
}

/* Voting Screen */

.voting {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  user-select: none;
}

.voting button {
  flex: 1 0 0;

  background-color: #666;
  border-width: 0;
  text-shadow: 1px 4px rgba(0, 0, 0, 0.6);
  font-size: 1.4em;
  letter-spacing: .15em;
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/3/40/4bb4680432f73/portrait_xlarge.jpg);
  background-blend-mode: multiply;
  background-size:cover;
}

.voting button .entry {
  font-size: 2em;
  font-weight: 400;
}

.voting button:active {
  color: #311B92;
}
.voting button.voted {
  background-color: #cccccc;
}
.voting button.notvoted * {
  opacity: 0.5;
}
.voting button .label {
  display: none;
}
.voting button .label {
  opacity: 0.87;
}
.voting button.votedAgainst * {
  opacity: 0.3;
}

.voting .round {
  position: absolute;
  width: 80px;
  text-align: center;
  left: 50%;
  margin-left: -40px;
  background-color: white;
  color: black;
  margin-top: 0;
  top: 20px;
  font-size: 2em;
  border-radius: 10px;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.4)
}

.voting .round .label {
  display: block;
  font-size: 0.4em;
  text-transform: uppercase;
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.voting .vs {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  height: 50px;
  width: 50px;
  font-size: 2em;
  left: 50%;
  margin-left: -25px;
  text-align: center;
  text-shadow: 1px 4px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-device-width: 500px) {
  .voting {
    flex-direction: row;
  }
}

/* Results Screen */

.results {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  text-shadow: 1px 3px rgba(0, 0, 0, 0.4);
}
.results .tally {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.results .tally .entry {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.results .tally h1 {
  width: 25%;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.results .tally .voteVisualization {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: flex-start;

  background-color: #7E57C2;
}
.results .tally .votesBlock {
  background-color: white;
  transition: width 0.5s;
}
.results .tally .voteCount {
  font-size: 2rem;
}

.results .management {
  display: flex;

  height: 2em;
  border-top: 1px solid #aaa;
}

.results .management button {
  border: 0;
  background-color: black;
  color: #aaa;
}
.results .management .next {
  flex: 1;
  font-size: 2em;
}

/* Winner View */

.winner {
  font-size: 4rem;
  text-align: center;
}
