body {
  font-family: bangers, sans-serif;
  background-color: #673AB7;
  color: white;
}

/* Voting Screen */

.captain-america {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/3/50/537ba56d31087/portrait_xlarge.jpg);
}
.iron-man {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/9/c0/527bb7b37ff55/portrait_xlarge.jpg);
}
.black-widow {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/f/30/50fecad1f395b/portrait_xlarge.jpg);
}
.thor {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/d/d0/5269657a74350/portrait_xlarge.jpg);
}
.ultron {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/3/70/5261a838e93c0/portrait_xlarge.jpg);
}
.spiderman {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/3/50/526548a343e4b/portrait_xlarge.jpg);
}
.wolverine {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/2/60/537bcaef0f6cf/portrait_xlarge.jpg);
}
.cyclops {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/6/70/526547e2d90ad/portrait_xlarge.jpg);
}
.hulk {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0/portrait_xlarge.jpg);
}
.hawkeye {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/e/90/50fecaf4f101b/portrait_xlarge.jpg);
}
.vision {
  background-image: url(http://i.annihil.us/u/prod/marvel/i/mg/9/d0/5111527040594/portrait_xlarge.jpg);
}

.voting {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  user-select: none;
}

.voting button {
  flex: 1 0 0;

  background-color: #666;
  border-width: 0;
  text-shadow: 1px 4px rgba(0, 0, 0, 0.6);
  font-size: 1.4em;
  letter-spacing: .15em;
  background-blend-mode: multiply;
  background-size:cover;
  position: relative;
  padding: 0;
}

.voting button .entry {
  font-size: 2em;
  font-weight: 400;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.voting button:active {
  color: #311B92;
}
.voting button.voted {
  background-color: #cccccc;
}
.voting button.notvoted {
  background-color: #900;
}
.voting button.notvoted * {
  opacity: 0.5;
}
.voting button .label {
  display: none;
}
.voting button .label {
  opacity: 0.87;
}
.voting button.votedAgainst * {
  opacity: 0.3;
}

.voting .round {
  position: absolute;
  width: 80px;
  text-align: center;
  left: 50%;
  margin-left: -40px;
  background-color: white;
  color: black;
  margin-top: 0;
  top: 20px;
  font-size: 2em;
  border-radius: 10px;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.voting .round .label {
  display: block;
  font-size: 0.4em;
  text-transform: uppercase;
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.voting .vs {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  height: 50px;
  width: 50px;
  font-size: 2em;
  left: 50%;
  margin-left: -25px;
  text-align: center;
  text-shadow: 1px 4px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-device-width: 500px) {
  .voting {
    flex-direction: row;
  }
}

/* Results Screen */

.results {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  text-shadow: 1px 3px rgba(0, 0, 0, 0.4);
}

.results .tally {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.results .tally .entry {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.results .tally .entry .thumbnail {
  width: 100px;
  height: 100px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid rgba(0, 0, 0, 0.4);
  margin: 5px;
}
.results .tally h1 {
  width: 25%;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.results .tally .voteVisualization {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: flex-start;

  background-color: #7E57C2;
}
.results .tally .votesBlock {
  background-color: white;
  transition: width 0.5s;
}
.results .tally .voteCount {
  font-size: 2rem;
}

.results .management {
  display: flex;

  height: 2em;
  border-top: 1px solid #aaa;
}

.results .management button {
  border: 0;
  background-color: black;
  color: #aaa;
}
.results .management .next {
  flex: 1;
  font-size: 2em;
}

/* Winner View */

.winner {
  font-size: 4rem;
  text-align: center;
}
